template(name='gaEmailDropdown')
    div.row
        div.col.m5
            if reminderEmail
                p(style='font-size: 20px; font-weight: 400;') Send a data reminder to 
            else
                p(style='font-size: 20px; font-weight: 400;') Send a thank-you-note to
            
        div.col.m7
            div.row(style="margin-bottom: 0px; border-width:1px; border-style: groove;")
                div.col.m10.dropdown-div.black-text.center-align
                    if reminderEmail
                        p(id="#{id}" style="font-size:20px; padding:0px; margin: 0px") Participants with missing data from yesterday
                    else
                        p(id="#{id}" style="font-size:20px; padding:0px; margin: 0px") All experiment participants

                div.col.m2.black-text
                    div(style="height:100%")
                        a.dropdown-button(href='#' data-activates='dropdown-#{id}' id="dropdown-button-#{id}")
                            i.material-icons(style="font-size:25px;") keyboard_arrow_down
                    
                        ul.dropdown-content(id="dropdown-#{id}" style="width: 350px")
                            if reminderEmail
                                li: a.frequency-dropdown-option(href="#" data-value="0") Participants with missing data from yesterday
                                li: a.frequency-dropdown-option(href="#" data-value="1") Participants with data from yesterday
                                li: a.frequency-dropdown-option(href="#" data-value="2") Participants with missing data from today
                                li: a.frequency-dropdown-option(href="#" data-value="3") Participants with data from today
                            li: a.frequency-dropdown-option(href="#" data-value="4") All experiment participants
        
