template(name="gaSurvey")
    +cardLayout(cardId=cardId heading="Welcome to Galileo" style="" nextOnly=true nextDisabled=nextDisabled)
        p(style='font-size: 20px; font-weight: 100;') What do you intend to ask your participants - what are you curious to know about. Create your post-experiment survey!
        //br
        //p(style='font-size: 20px; font-weight: 100;') Using our simple but powerful system, you can find out whether your Gut Instincts are right, or whether you need a Gut Check!

        //br
        //a(href="#" id="help-#{cardId}-0" class="helpbtn") FAQs


        +helpLayout(cardId=cardId helpId="0" title="" learnLink="")
            ul
                b Why survey
                    ul(style="padding-left:20px")
                        li(style="list-style-type: circle")  You'll need to administer surveys to collect information about people - before you randomly put them in conditions etc.. - teach about pre- and post survey
                        | Example: frgqrggfr3
                        li(style="list-style-type: circle")  You want to understand how your participants felt - what worked for them - what did not - how do you improve your thing - to receive open-ended feedback
                        | Example: frgqrggfr3
                        li(style="list-style-type: circle")  You want to get metrics for other factors like did people like your system, did they find it easy to use, would they recommend it? This information at scale can be really useful
                            | Example: ...
                br
                b Here's a template you can use
                    ul(style="padding-left:20px")
                        li(style="list-style-type: circle") sample form here
                        | ede
                        a(href='https://docs.google.com/spreadsheets/d/1C_IJpQRVPFhWhSRbXp9-uLTME9Le3wfU7Cc2gCw-m6A/edit#gid=0' target="_blank") here
                    ul(style="padding-left:20px")
                        li(style="list-style-type: circle")  how would you create surveys
                        | 3 pt scale vs 5 pt scale - Likert (statistical analysis confidence)
                br
                b  Here are some sample surveys
                    ul(style="padding-left:20px")
                        li(style="list-style-type: circle") .....
                b  Here's some learning material
                    ul(style="padding-left:20px")
                        li(style="list-style-type: circle") .....

