template(name="gaCriteriaDemo")

    +gaNavbar

    div.container.galileo(style="margin-top: 50px;")

        div.loading(style="display: none")
            .preloader-wrapper.big.active
                .spinner-layer.spinner-blue-only
                    .circle-clipper.left
                        .circle
                    .gap-patch
                        .circle
                    .circle-clipper.right
                        .circle

        div(class='card qmodule')
            div(class='card-content layer-1')
                //+cardLayout(heading="Provide criteria for your experiment participants" nextDisabled=nextDisabled hideNav=true)
                +cardLayout(heading="Decide who can participate in your experiment" nextDisabled=nextDisabled hideNav=true)

                    p(style="font-size: 20px; font-weight: 400;") Hypothesis:
                        span.blue-text.text-darken-2 #{hypothesis}

                    span(class='card-title' style='font-size: 20px; font-weight: 100;') Which participants would you select for your experiment?
                    br

                    p(style='font-size: 20px; font-weight: 100;')
                        span.green-text: b Include
                        | a participant in your experiment if they:
                    br

                    +checklist(id='inclusion' checklistItems=inclusionCriteria)

                    br
                    br

                    p(style='font-size: 20px; font-weight: 100;')
                        span.red-text: b Exclude
                        | a participant from your experiment if they:
                    br

                    +checklist(id='exclusion' checklistItems=exclusionCriteria)

                    br

                    +gaVideoLearnLayout(videoTitle="Learn More - Your Experiments#4 - Selecting participants and creating inclusion/exclusion criteria" videoUrl="https://www.youtube.com/embed/s7RgSJsyvhs" videoSrc="coursera.org/learn/designexperiments")

                    div.row
                        div.col.s3
                        div.col.s6
                            a(class="btn next-action light-blue darken-4 {{#if nextDisabled}}disabled{{/if}}" style="width:100%;") Add Criteria
                        div.col.s3
